/* Définition de la couleur de fond principale */
body {
    background-color: #d2c8be; /* Marron clair */
}

/* Style pour une transition douce du contenu */
#content-area > div {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

/* Style pour le bouton actif dans le menu */
.nav-button.active {
    background-color: #a08c7d; /* Marron plus foncé pour le contraste */
    color: white;
}

